<section class="banner">
    <div class="container hero">
        <div class="customer support">
            <i class="fa-solid fa-headset"></i>
            <div class="content-customer-support">
                <span class="text">Soporte al Cliente</span>
                <span class="subrayado"><u>601-420-214</u></span>
            </div>
        </div>
        <div class="container-logo">
            <h1 class="logo"><a href="/">Calzado SAS</a></h1>
        </div>
        <div class="container-user">
            <a href="{{ url_for('usuario_dashboard') }}"> <i class="fa-solid fa-user"></i></a>
        </div>
    </div>
</section>